:root {
    --bg: #000;
    --buttons-calc: #ff9501;
    --buttons-num: #a6a6a6;
    --buttons-sub: #fdfdfd;
}

.calc {
    margin: 50px auto;
    width: 300px;
    height: 500px;
    /* border: 1px solid var(--bg); */
    border-radius: 20px;
    background: var(--bg);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}
.btn {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}
